<!DOCTYPE html>
<html>

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About us - Brand</title>
    <link rel="stylesheet" href="{% static 'website/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/assets/css/Lora.css' %}">
    <link rel="stylesheet" href="{% static 'website/assets/css/Raleway.css' %}">
</head>
<nav class="navbar navbar-dark navbar-expand-lg bg-dark py-lg-4" id="mainNav">
    <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#" style="font-size: 15px;">Jannati Property Management</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'homepage' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'aboutus' %}">About us</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'products' %}">Listings</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block content %} {% endblock %}

<footer class="text-center footer text-faded py-5">
    <div class="container">
        <p class="m-0 small">Copyright&nbsp;©&nbsp;Jannati Property Management 2022</p>
    </div>
</footer>
<script src="{% static 'website/assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'website/assets/js/current-day.js' %}"></script>
</html>